In [3]:
# imports
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder, StandardScaler

In [6]:
df=pd.read_csv('star-dataset/6 class csv.csv')
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,Red,M
1,3042,0.000500,0.1542,16.60,0,Red,M
2,2600,0.000300,0.1020,18.70,0,Red,M
3,2800,0.000200,0.1600,16.65,0,Red,M
4,1939,0.000138,0.1030,20.06,0,Red,M

In [7]:
# Encoding categorical features
le = LabelEncoder()

df['Spectral Class'] = le.fit_transform(df['Spectral Class'])
df['Star color'] = le.fit_transform(df['Star color'])
df.head()

,Temperature (K),Luminosity(L/Lo),Radius(R/Ro),Absolute magnitude(Mv),Star type,Star color,Spectral Class
0,3068,0.002400,0.1700,16.12,0,10,5
1,3042,0.000500,0.1542,16.60,0,10,5
2,2600,0.000300,0.1020,18.70,0,10,5
3,2800,0.000200,0.1600,16.65,0,10,5
4,1939,0.000138,0.1030,20.06,0,10,5

In [8]:
# Saving the preprocessed data
df.to_csv('star-dataset/preprocessed_stars.csv', index=False)

In [9]:
# Saving the Label Encoder
import joblib
joblib.dump(le, 'star-dataset/label_encoder.pkl')

['star-dataset/label_encoder.pkl']